body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

fieldset {
	border:0;
	padding:0; margin:0;
}

.item {
	margin-bottom: 45px;
}

/*** Cities page ***/
.caption {
	padding-bottom: 10px;
}

/*** City Profile ***/
.map {
	width: 60%;
	height: 600px;
}

.tabs-container {
	margin-top: 60px;
}